In [9]:
# Question1
for i in range(5,0,-1):
  for j in range(i):
    print("5", end=" ")
  print("")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [12]:
# Question 2
for i in range(5,0,-1):
  for j in range(i+1):
    print(j, end=" ")
  print("")

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [19]:
# Question 3
for i in range(1,6):
  for j in range(1,i+1):
    print(2*i-1,end=" ")
  print(" ")

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [27]:
# Question 4
for i in range(0,5):
  for j in range (i+1,0,-1):
    print(j,end=" ")
  print("")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [34]:
# Question 5
for i in range(0,5):
  for j in range(i+1,0,-1):
    print(i,end=" ")
  print(' ')

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [113]:
# Question 6
for i in range(1,8):
  k=1
  for j in range(1,i+1):
    print(k,end=" ")
    k=int(k*(i-j)/j)
  print(" ")

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [110]:
# Question 8
for i in range(1, 9):  
    for j in range(1, i + 1):  
        # It prints multiplication or row and column  
        print(i * j, end='  ')  
    print()

1
2  4
3  6  9
4  8  12  16
5  10  15  20  25
6  12  18  24  30  36
7  14  21  28  35  42  49
8  16  24  32  40  48  56  64

In [80]:
# Question 9
k=(2*6)-2
for i in range(6,-1,-1):
  for j in range(k,0,-1):
    print(end=" ")
  k=k+1
  for h in range(0,i+1):
    print("*", end=" ")
  print("")

          * * * * * * *
           * * * * * *
            * * * * *
             * * * *
              * * *
               * *
                *

In [79]:
# Question 10
k=(2*6)-2
for i in range(0,7):
  for j in range(0,k):
    print(end=" ")
  k=k-1
  for h in range(0,i+1):
    print("*", end=" ")
  print("")

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *

In [84]:
# Question 11
for i in range(0,7):
  for j in range(0,i+1):
    print("*",end=" ")
  print("")
print(end="\n")
for i in range(7,-1,-1):
  for j in range(i+1,0,-1):
    print("*",end=" ")
  print("")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [102]:
# Question 12
for i in range(0,4):
  for j in range(0,i+1):
    print("*",end=" ")
  print('')
for i in range(4,-1,-1):
  for j in range(i+1,0,-1):
    print("*",end=" ")
  print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [108]:
# Question 14
k =6-2
for i in range(6,-1,-1):
  for j in range(k,0,-1):
    print(end=" ")
  k=k+1
  for j in range(0,i+1):
    print("*",end=" ")
  print()

k=(2*6)-2
for i in range(0,7):
  for j in range(0,k):
    print(end=" ")
  k=k-1
  for j in range(0,i+1):
    print("*",end=" ")
  print()

    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *
          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *

In [137]:
# Question 13
k= 2*5 -2
for i in range(0,5):
  for j in range(0,k):
    print(end=" ")
  k=k-2
  for j in range(0,i+1):
    print("* ",end="")
  print()
for i in range(5,0,-1):
  for j in range(i,6):
    print(" ",end=" ")
  for k in range(1,i):
    print("*",end=" ")
  print()

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [139]:
# Question 15
rows=int(input("Enter the number of rows: "))
print("*" * rows, end="\n")
i=(rows//2)-1
j= 2
while i!=0:
  while j<=(rows-2):
    print("*" * i,end="")
    print("_" * j,end="")
    print("*" * i,end="\n")
    i=i-1
    j=j+2

Enter the number of rows: 16
****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*